<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miueon.blog.mapper.PostMapper">
    <select id="selectByIDs" resultType="com.miueon.blog.pojo.post">
        select
            id,uid,title, content, createdDate from post
        where id in (#{idList})
    </select>

</mapper>