<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <aside class="col-md-4">
    <div class="widget widget-content" v-if="toc">
      <h3 class="widget-title">Table of contents</h3>
      <div class="toc">
        <div v-html="toc"></div>
      </div>
    </div>

    <div class="widget widget-recent-posts">
      <h3 class="widget-title">Latest post</h3>
      <ul  v-for="p in latest">
        <li>
          <a :href="'/detail?pid=' + p.id">{{p.title}}</a>
        </li>
      </ul>
    </div>
    <div class="widget widget-archives">
      <h3 class="widget-title">archives</h3>
      <ul>
        <li v-for="as in archives">
          <a :href="'/index?year=' + as.year + '&month='+as.month">
            {{as.year+"/" + as.month+ " (" + as.postCount + ")"}}
          </a>
        </li>
      </ul>
    </div>
    <div class="widget widget-category">
      <h3 class="widget-title">Categories</h3>
      <ul>
        <li v-for="cs in categories">
          <a :href="'/index?cid=' + cs.id"> {{cs.name}}
            <span class="post-count">{{'(' + cs.postCount + ')'}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="widget widget-tag-cloud">
      <h3 class="widget-title">Tag cloud</h3>
      <ul>
        <li v-bind:value="ts.id" v-for="ts in tags">
          <a :href="'/index?tid='+ts.id"> {{ts.name}}
            {{'(' + ts.postCount + ')'}}
          </a>
        </li>
      </ul>
    </div>
<!--    <div class="rss">-->
<!--      <a href="http://192.168.0.102:8000/all/rss/"><span class="ion-social-rss-outline"></span> RSS 订阅</a>-->
<!--    </div>-->
  </aside>
</div>