<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div class="container content-body" xmlns:th="http://www.thymeleaf.org" th:fragment="html">
  <script>
    let bloglist
    $(function () {
      bloglist = new Vue({
        el: "#workingArea",
        mixins:[mixin_auth, tag_category_aside],
        data() {
          return {
            uri: 'api/post',
            reply: {
              code: 0,
              msg: ""
            },
            pagination: {
              current: 0,
              isHasContent: false,
              isHasNext: false,
              isHasPrevious: false,
              navigatePageNums: [],
              navigatePages: 0,
              totalPages: 0
            },
            posts: [],
            postCondition: false,
            toc: false,
            cid: null,
            tid: null
          }
        },
        mounted: function () {
          this.cid = getUrlParms("cid")
          this.tid = getUrlParms("tid")
          if (this.tid) {
            this.load_by_tag()
          } else {
            this.load(1);
          }
          this.getuser()
          this.getCategories(this)
          this.getTags(this)
        },
        methods: {
          load_by_tag: function () {
            let url = `${this.uri}/tag/${this.tid}`
            axios.get(url).then(function (response) {
              bloglist.reply.msg = response.data.msg
              bloglist.posts = response.data.payload
            });
          },
          load: function (page) {
            let url = `${this.uri}?start=${page}&size=5`
            if (this.cid) {
              url = `${url}&cid=${this.cid}`
            }
            axios.get(url).then(function (response) {
              console.log(response.data)
              console.log(response.data.code)

              bloglist.reply.code = Number.parseInt(response.data.code)
              bloglist.reply.msg = response.data.msg
              bloglist.posts = response.data.payload.content
              bloglist.pagination = response.data.payload
              bloglist.$set(bloglist, 'postCondition', true)
              //console.log(this.pagination)
            });
          },
          formDate: function (value) {
            if (value === null) {
              return ""
            }
            let formatString = 'YYYY-MM-DD HH:mm:ss'
            return moment(value).format(formatString)
          },
          bodyAbbr: function (body) {
            let cutLength = 300
            if (body.length > cutLength) {
              return body.substring(0, cutLength) + '...'
            }
            return body
          },
          jump: function (page) {
            jump(page, bloglist)
          },
          jumpByNumber: function (page) {
            jumpByNumber(page, bloglist)
          }
        }
      })
    })
  </script>


  <div class="row">

    <main class="col-sm-8 ">

      <article class="post post-58">
        <div v-for="ps in posts">
          <header class="entry-header">
            <h1 class="entry-title">
              <a :href="'detail?pid=' + ps.id">{{ps.title}}</a>
            </h1>
            <div class="entry-meta">
              <!--              todo: category, comments with jump link, reads-->
              <span class="post-category"><a href="#">{{ps.category.name}}</a></span>
              <span class="post-date"><a href="#">{{formDate(ps.createdDate)}}</a></span>
              <span class="comments-link"><a :href="'detail?pid=' + ps.id">{{ps.commentCounts}} comments</a></span>
              <span class="views-count"><a :href="'detail?pid=' + ps.id">{{ps.view + "views"}}</a></span>
            </div>
          </header>
          <div class="entry-content clearfix">
            <p v-html="bodyAbbr(marked(ps.body))"></p>

            <div class="read-more cl-effect-14">
              <a :href="'detail?pid=' + ps.id">Continue <span class="meta-nav">→</span></a>
            </div>
          </div>

          <!--          <h2 class="blog-post-title"><a :href="'detail?pid=' + ps.id">{{ps.title}}</a></h2>-->
          <!--          <p class="blog-post-meta">{{formDate(ps.createdDate)}} created by {{ps.userName}}</p>-->

          <!--          <div v-html="bodyAbbr(marked(ps.body))"></div>-->

        </div>
      </article>


      <ul class="text-center pagination " v-if="!tid">
        <li :class="{disabled: !pagination.isHasPrevious}">
          <a href="#nowhere" @click="jump('first')">«</a>
        </li>
        <li :class="{ disabled: !pagination.isHasPrevious }">
          <a href="#nowhere" @click="jump('pre')">‹</a>
        </li>

        <li v-for="i in pagination.navigatePageNums">
          <a href="#nowhere" v-on:click="jumpByNumber(i)">
            {{i}}
          </a>
        </li>

        <li :class="{ disabled: !pagination.isHasNext }">
          <a href="#nowhere" @click="jump('next')">›</a>
        </li>
        <li :class="{ disabled: !pagination.isHasNext }">
          <a href="#nowhere" @click="jump('last')">»</a>
        </li>
      </ul>

    </main><!-- /.blog-main -->

    <aside class="col-md-4">

      <div v-if="user.isAdmin" class="sidebar-module">
<!--        <a type="button" class="btn btn-default btn-lg" href="/admin">-->
<!--          <span class="glyphicon glyphicon-open"></span>Admin Page-->
<!--        </a>-->
        <a type="button" class="btn btn-default btn-lg" :href="'admin'">
          <span class="glyphicon glyphicon-console"></span>Admin
        </a>
      </div>

    </aside>


    <div th:replace="include/aside::html"></div>
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->



