<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div class="container" th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <header id="site-header">
    <div class="row">
      <div class="col-md-4 col-sm-5 col-xs-8">
        <div class="logo">
          <h1><a href="/">Miueon</a></h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-4">
        <nav class="main-nav" role="navigation">
          <div class="navbar-header">
            <button type="button" id="trigger-overlay" class="navbar-toggle">
              <span class="ion-navicon"></span>
            </button>
          </div>


          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

              <li class="cl-effect-11"><a href="/" data-hover="Home">Home</a></li>
              <li class="cl-effect-11"><a href="/about" data-hover="About">About</a></li>
              <li class="cl-effect-11"><a href="https://github.com/miueon" data-hover="Github">Github</a></li>

              <li class="cl-effect-11 dropdown" data-hover="Account">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="logoutLink" v-if="isAuthenticated" href="#" @click="logout">logout</a>
                  </li>
                  <li>
                    <a class="loginLink" v-if="!isAuthenticated" href="#" @click="login_modal">login</a>
                  </li>


                </ul>
              </li>
              <li class="cl-effect-11 dropdown">

                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                <div class="dropdown-menu " id="search-menu">
                  <div id="searchform"  >
                    <input type="search" name="q" placeholder="Search" required v-model="keyWord"  @keyup.enter="search">
                    <button type="button" @click="search" @keyup.enter="search"><span class="ion-ios-search-strong"></span></button>
                  </div>
                </div>

              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>


      </div>

    </div><!-- /.container-fluid -->
  </header>
</div>