<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<div class="container content-body" th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <div class="row">
    <main class="col-md-8">
      <article class="post" v-if="post">
        <header class="entry-header">
          <h1 class="entry-title">{{post.title}}</h1>
          <div class="entry-meta">

            <span class="post-category"><a href="#">{{post.category.name}}</a></span>

            <span class="post-date"><a href="#"><time class="entry-date"
                                                      :datetime="'formDate(post.createdDate)'">
              {{formDate(post.createdDate)}}
            </time></a></span>

            <span class="post-author"><a href="#">{{post.username}}</a></span>
            <span class="comments-link"><a href="#comment-area">{{post.commentCounts}} comments</a></span>
            <span class="views-count"><a href="#">{{post.view + "views"}}</a></span>
          </div>
        </header>
        <div class="entry-content clearfix" v-html="compiled_html"></div>
      </article>
      <section class="comment-area" id="comment-area">
        <hr>
        <h3>Leave your comment</h3>
        <form action="#" method="post" class="comment-form">
          <div class="row">
            <div v-if="!isAuthenticated">
              <div class="col-md-4">
                <label for="id_name">Name：</label>
                <input type="text" name="name" maxlength="50"
                       required="" id="id_name" v-model="comment_user.name">
              </div>
              <div class="col-md-4">
                <label for="id_email">Email：</label>
                <input type="email" name="email"
                       maxlength="254" required="" id="id_email" v-model="comment_user.email">
              </div>
              <div class="col-md-4">
                <label for="id_url">Web site：</label>
                <input type="url" name="url" maxlength="200" id="id_url" v-model="comment_user.url">
              </div>
            </div>
            <div class="col-md-12">
              <label for="id_text">Contents：</label>
              <textarea name="text" v-model="new_comment"
                        cols="40" rows="10" required="" id="id_text" spellcheck="false"></textarea>
              <button type="button" class="comment-btn" @click="send">Send</button>
            </div>
          </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
          <h3>Comment list，now has <span>{{comments.length}}</span> comments</h3>
          <ul class="comment-list list-unstyled" v-if="comments.length === 0">
            There are no comments right now, may be you can leave the first one.
          </ul>
          <ul class="comment-list list-unstyled" >
            <li class="comment-item" v-for="item in comments">
              <span class="nickname">{{item.usr}}</span>
              <time class="submit-date" >{{formDate(item.createdDate)}}</time>
              <div class="text">
                <div v-html="item.content"></div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>


    <!--    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">-->
    <!--      <div class="sidebar-module">-->
    <!--        <a type="button" class="btn btn-default btn-lg" @click="delPost">-->
    <!--          <span class="glyphicon glyphicon-remove"></span>Delete post-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="sidebar-module">-->
    <!--        <a type="button" class="btn btn-default btn-lg" :href="'newpost?pid='+pid">-->
    <!--          <span class="glyphicon glyphicon-check"></span>Update post-->
    <!--        </a>-->
    <!--      </div>-->
    <!--      <div class="sidebar-module">-->
    <!--        <a type="button" class="btn btn-default btn-lg" @click="downloadPost">-->
    <!--          <span class="glyphicon glyphicon-download-alt"></span>download post mdFile-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </div>-->

    <div th:replace="include/aside::html"></div>
  </div>

  <script>
    $(function () {
      let pid = getUrlParms("pid")
      let detail = new Vue({
        el: "#workingArea",
        mixins: [mixin_auth, tag_category_aside],
        data() {
          return {
            reply: {
              code: 0,
              msg: ""
            },
            pid: pid,
            uri: 'api/post/',
            comment_uri: 'api/comment/',
            post: null,
            compiled_html: null,
            condition: false,
            toc: null,
            comments: [],
            new_comment: "",
            comment_user: {
              name: "",
              email: "",
              url: ""
            },
            detail: true
          }
        },
        mounted: function () {
          this.load()
          this.getuser().then(function () {
            detail.comment_user.name  = detail.user.name
          });
          this.get_archives(this)
          this.get_latest(this)
        },
        methods: {
          load: function () {
            let url = this.uri + pid
            axios.get(url).then(function (response) {
              detail.post = response.data.payload
              detail.toc = detail.post.toc
              detail.compiled_html = detail.post.body
              detail.reply.code = Number.parseInt(response.data.code)
              document.title = `${detail.post.title}`
              detail.reply.msg = response.data.msg
              detail.$set(detail, 'condition', true)
            }).then(function () {
              hljs.initHighlighting()
              hljs.initLineNumbersOnLoad();
              downloadJSAtOnLoad()
            }).then(function () {
              let url = detail.comment_uri + `post?pid=${pid}`
              axios.get(url).then(function (response) {
                detail.comments = response.data.payload
              })
            });
            this.getCategories(this)
            this.getTags(this)
          },
          send: async function () {
            if (detail.user.name.length === 0) {
              if (detail.comment_user.name.length === 0) {
                alert("the user name shouldn't be empty")
                return
              } else if (detail.comment_user.email.length === 0) {
                alert("the eamil shouldn't be empty")
                return
              } else if (detail.comment_user.url.length === 0) {
                alert("the url shouldn't be empty")
                return
              } else if (detail.new_comment.length === 0) {
                alert("the content of comment shouldn't be empty")
                return
              }
              detail.user.name = detail.comment_user.name;
              detail.user.password = detail.comment_user.email
              await detail.login()
              if (!detail.isAuthenticated) {
                await this.register()
              }
            }
            if (detail.isAuthenticated) {
              axios.post(this.comment_uri, {
                pid: this.pid,
                content: this.new_comment,
                usr: this.user.name
              }, {
                headers: {
                  Authorization: getToken()
                }
              }).then(function (response) {
                alert("commented successfully")
                detail.comments.unshift({
                  usr: detail.user.name,
                  createdDate: new Date(),
                  content: detail.new_comment
                })
                detail.new_comment = ""
                detail.post.commentCounts+=1
              }).catch(error => {
                alert(error.response.data.msg)
              });

            }
          },
          formDate: function (value) {
            if (value === null) {
              return ""
            }
            let formatString = 'YYYY-MM-DD HH:mm:ss'
            return moment(value).format(formatString)
          },
          downloadPost: function () {
            let url = this.uri + `download?pid=${pid}`
            const queryArgs = {
              url,
              method: "get",
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json; charset=utf-8',
                withCredentials: true
              },
            }
            axios.request(queryArgs).then(
              response => {
                // 提取文件名 得小写 content-disposition
                const filename = response.headers['content-disposition'].match(
                  /filename=(.*)/
                )[1]
                if (typeof filename === "undefined") {
                  alert(response.data)
                  return
                }
                // 将二进制流转为blob
                const blob = new Blob([response.data], {type: 'application/octet-stream'});
                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                  // 兼容IE，window.navigator.msSaveBlob：以本地方式保存文件
                  window.navigator.msSaveBlob(blob, decodeURI(filename))
                } else {
                  // magic part
                  // 创建新的URL并指向File对象或者Blob对象的地址
                  const blobURL = window.URL.createObjectURL(blob)
                  // 创建a标签，用于跳转至下载链接
                  const tempLink = document.createElement('a')
                  tempLink.style.display = 'none'
                  tempLink.href = blobURL
                  tempLink.setAttribute('download', decodeURI(filename))
                  // 兼容：某些浏览器不支持HTML5的download属性
                  if (typeof tempLink.download === 'undefined') {
                    tempLink.setAttribute('target', '_blank')
                  }
                  // 挂载a标签
                  document.body.appendChild(tempLink)
                  tempLink.click()
                  document.body.removeChild(tempLink)
                  // 释放blob URL地址
                  window.URL.revokeObjectURL(blobURL)
                }
              }
            ).catch(err => console.log(err))
          }
        }
      })
    })

  </script>
</div>