<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>
    Lost in Nebel Valley
  </title>
  <script src="/js/jquery/2.0.0/jquery.min.js"></script>
  <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/bnwtheme/pace.css">
  <link rel="stylesheet" href="/css/bnwtheme/custom.css">
</head>
<body class="pace-done" data-new-gr-c-s-check-loaded="14.981.0">
<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div>
</div>

<div class="container content-body">
  <div class="row">
    <main class="col-sm-8">
      <div class="error">
        <h3 class="title"><span class="code" >
          Sorry for you have entered the wrong path.
        </span></h3>
        <a href="/" class="btn btn-success">This way back to the main site</a>
      </div>
    </main>
  </div>
</div>
</body>
</html>
