<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html"></head>

<body class="pace-done" data-new-gr-c-s-check-loaded="14.981.0">

<div class="pace  pace-inactive">
  <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div>
</div>

<div id="workingArea">
  <div th:replace="include/top::html"></div>
  <div th:replace="include/bloglistpage::html"></div>
  <div th:replace="include/modal4login::html"></div>
  <div th:replace="include/modal4register::html"></div>
  <div th:replace="include/footer::html"></div>
</div>
<script type="text/javascript">
  function downloadJSAtOnLoad() {
    let element = document.createElement('script');
    element.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    document.body.appendChild(element)
  }
  if (window.addEventListener) {
    window.addEventListener('load',downloadJSAtOnLoad, false)
  } else if (window.attachEvent) {
    window.attachEvent("onload",downloadJSAtOnLoad)
  } else window.onload =downloadJSAtOnLoad
</script>
</body>
</html>