<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="admin/include/message_line::html"></div>

  <div id="content" class="colM">
    <h1>Add & Edit Comment</h1>
    <div id="content-main">
      <form>
        <div>
          <fieldset class="module aligned">
            <div class="form-row field-name">
              <div>
                <label class="required">Name:</label>
                <label v-if="change || as_admin">{{comment_user.name}}</label>
                <input v-else type="text" name="title" class="vTextField" maxlength="50" required
                       v-model="comment_user.name">
              </div>
            </div>
            <div class="form-row field-email">
              <div>
                <label class="required">Email:</label>
                <label v-if="change || as_admin">{{comment_user.email}}</label>
                <input v-else type="email" name="email" class="vTextField" maxlength="254"
                       required="" v-model="comment_user.email">
              </div>
            </div>

            <div class="form-row field-url">
              <div>
                <label>Url:</label>
                <a :href="comment_user.url" v-if="change || as_admin">{{comment_user.url}}</a>
                <input v-else type="url" name="url" class="vURLField" v-model="comment_user.url"
                       maxlength="200">
              </div>
            </div>

            <div class="form-row field-text">
              <div>
                <label class="required" for="id_text">Content:</label>
                <textarea name="text" cols="40" rows="10" class="vLargeTextField"
                          required="" id="id_text" v-model="comment.content"></textarea>
              </div>
            </div>

            <div class="form-row field-post">
              <div>
                <label class="required" for="id_post">Post:</label>
                <div class="related-widget-wrapper">
                  <select name="post" required="" id="id_post" v-model="comment.pid">
                    <option value="">---------</option>
                    <option v-bind:value="ps.id" v-for="ps in posts">{{ps.title}}</option>
                  </select>
                  <a class="related-widget-wrapper-link change-related"
                     :href="'/admin/blog/post/add?change=' + comment.pid">
                    <img src="/img/icon-changelink.svg" alt="change"></a>
                  <a class="related-widget-wrapper-link add-related"
                     :href="'/admin/blog/post/add'"><img src="/img/icon-addlink.svg" alt="add">
                  </a>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div v-if="!change">
                <input type="checkbox" v-bind:value="true" v-model="as_admin">
                <label>As Admin</label>
              </div>
            </div>
          </fieldset>
          <div class="submit-row">
            <p class="deletelink-box">
              <button class="btn btn-danger" type="button" @click="delete_this" v-if="change">Delete</button>
            </p>
            <button class="btn btn-default" type="button" @click="save">Save</button>
            <button class="btn btn-default" type="button" @click="save_add">Save & Add again</button>
            <button class="btn btn-default" type="button" @click="save_edit">Save & edit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script type="text/babel" data-type="module">
    let vue
    import {Save} from "/js/component/save.js";

    let save_worker
    $(function () {
      vue = new Vue({
        el: "#container",
        mixins: [mixin_auth],
        data() {
          return {
            uri: '/api/comment',
            p_uri: '/api/comment/post_title',
            msg: "",
            alert: false,
            comment: {
              pid: null,
              content: "",
              usr: ""
            },
            comment_user: {
              name: "",
              email: "",
              url: ""
            },
            posts: [],
            old_comment: null,
            change: false,
            id: null,
            as_admin: false
          }
        },
        computed: {

          valid_register: function () {
            return !(this.comment_user.name.length === 0 ||
              this.comment_user.email.length === 0 ||
              this.comment_user.url.length === 0);
          }
        },
        mounted: async function () {
          this.load()
          save_worker = new Save(this, getToken());
          this.getuser()
          this.id = getUrlParms("change")
          if (this.id !== null) {
            this.id = Number.parseInt(this.id)
            await axios.get(`${this.uri}/${this.id}`, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              let data = response.data.payload
              vue.comment.pid = data.pid
              vue.comment.content = data.content
              vue.comment.usr = data.usr
              vue.change = true
            }).catch(this.error_handler);
            axios.get(`${this.uri}/comment_usrInfo/${vue.comment.usr}`, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              vue.comment_user = response.data.payload
            })
          }
        },
        methods: {
          load: function () {
            axios.get(`${this.p_uri}`, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              vue.posts = response.data.payload
            }).catch(this.error_handler);
          },
          error_handler: function (error) {
            vue.old_post = vue.post
            console.log(error.response)
            vue.msg = error.response.data.msg
            vue.alert = true
            show_message(vue)
          },
          check_length: function () { // true for check failed
            if (vue.comment.length === 0) {
              alert("the comment shouldn't be empty")
              return true
            }
            if (vue.change) {
              return false
            } else if (vue.as_admin) {
              vue.comment.usr = vue.user.name
              return false
            } else if (!vue.valid_register) {
              alert("all of the three user info should be fulfilled")
              return true
            } else {
              try {
                axios.get(`/auth/check_user?name=${vue.comment_user.name}`, {
                  headers: {
                    Authorization: getToken()
                  }
                }).catch(err => {
                  vue.register()
                });
                vue.comment.usr = `${vue.comment_user.name}`
                return false
              } catch (e) {
                return true
              }
            }
          },
          register: function () {
            return axios.post("/auth/register", this.comment_user).then(function () {
              vue.comment.usr = vue.comment_user.name
            }).catch(error => {
              alert(error.response.data.msg)
              throw error
            })
          },
          save: function () {
            save_worker.save(this.comment,
              `comment is added, redirect to post page in 2s.`,
              "/admin/comment"
            )
            this.old_comment = this.comment;
          },
          save_add: function () {
            save_worker.save_add(this.comment,
              `comment is added, you can add again.`,
              "/admin/comment/add"
            )
            this.old_comment = this.comment;
          },
          update: function () {
            return axios.put(this.uri + `/${this.id}`, this.comment, {
              headers: {
                Authorization: getToken()
              }
            }).then(response => {
              console.log(vue.id)
              vue.msg = `comment for id: ${vue.id} is updated`
              vue.alert = false
              show_message(vue)
            });
          },
          save_edit: function () {
            save_worker.save_edit(this.comment, `comment added`);
            this.old_comment = this.comment;
          },
          delete_this: function () {
            axios.post(`${vue.uri}/bulk_delete`, {
              ids: [vue.id]
            }, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              axios.delete(`${vue.uri}/bulk_delete`, {
                headers: {
                  Authorization: getToken()
                }
              }).then(function (response) {
                window.location.href = `/admin/comment`;
              })
            });
          },
          add_c: function () {

          },
          edit_category: function () {

          },
          add_tag: function () {

          }
        }
      })
    });
  </script>
</div>