<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="message_line::html"></div>

  <div id="content" class="colMS">
    <h1>Add category</h1>
    <div id="content-main">
      <ul class="object-tools" v-if="change">
        <li>
          <a :href="'/admin/blog/post?cid='+ id" class="addlink">posts</a>
        </li>
      </ul>
      <div>
        <fieldset class="module aligned ">
          <div class="form-row field-name">
            <div>
              <label class="required" for="id_name">Category name:</label>
              <input type="text" v-model="name" class="vTextField" maxlength="100" required id="id_name">
            </div>
          </div>
        </fieldset>
        <div class="submit-row">
          <button class="btn btn-danger" type="submit" @click="delete_this" v-if="change">Delete</button>
          <button class="btn btn-default" type="submit" @click="save">Save</button>
          <button type="submit" class="btn btn-default" @click="save_add">Save & Add again</button>
          <button type="submit" class="btn btn-default" @click="save_edit">Save & edit</button>
        </div>
      </div>

    </div>
  </div>
  <script type="text/babel" data-type="module">
    let add_category
    import {Save} from "/js/component/save.js";

    let save_worker
    $(function () {
      add_category = new Vue({
        el: "#container",
        mixins: [mixin_auth],
        data() {
          return {
            uri: '/api/category',
            msg: "",
            alert: false,
            name: "",
            old_name: "",
            change: false,
            id: null
          }
        },
        mounted: function () {
          this.id = getUrlParms("change")
          if (this.id !== null) {
            this.change = true
            this.id = Number.parseInt(this.id)
            axios.get(this.uri + `/${this.id}`, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              console.log(response.data)
              add_category.name = response.data.payload.name
              add_category.old_name = add_category.name
            }).catch(function (err) {
              add_category.alert = true
              add_category.msg = `category for cid: ${add_category.id} not exist.`
              show_message(add_category)
              add_category.change = false
              add_category.id = null
            });
          }
          this.getuser();
          save_worker = new Save(this, getToken());
        },
        methods: {
          check_length: function () {
            if (this.name.length === 0) {
              this.msg = "the category name shouldn't be empty."
              this.alert = true
              show_message(this)
              return true
            } else if (this.change && this.old_name === this.name) {
              this.msg = "You don't change it a bit."
              this.alert = true
              show_message(this)
              return true
            }
            return false
          },
          error_handler: function (error) {
            add_category.old_name = add_category.name
            console.log(error.response)
            add_category.msg = error.response.data.msg
            add_category.alert = true
            show_message(add_category)
          },
          save: function () {
            save_worker.save({name: this.name},
              `category ${add_category.name} is added, redirect to category page in 2s.`,
              "/admin/blog/category"
            )
            this.old_name = this.name
          },
          save_add: function () {
            save_worker.save_add({name: this.name},
              `category ${add_category.name} is added, you can add again.`,
              "/admin/blog/category/add"
            )
            this.old_name = this.name
          },
          update: function () {
            return axios.put(this.uri + `/${this.id}`, {
              name: add_category.name
            }, {
              headers: {
                Authorization: getToken()
              }
            }).then(response => {
              console.log(add_category.id)
              add_category.msg = `category for id: ${add_category.id} updated to ${add_category.name}`
              add_category.alert = false
              show_message(add_category)
            });
          },
          save_edit: function () {
            save_worker.save_edit({
              name: this.name
            }, `category ${add_category.name} added`);
            this.old_name = this.name
          },
          delete_this: function () {
            axios.post(`${add_category.uri}/bulk_delete`, {
              ids: [add_category.id]
            }, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              window.location.href = `/admin/blog/category/delete?cid=${add_category.id}`;
            });
          }
        }
      })
    })
  </script>
</div>