<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="/admin/include/message_line::html"></div>

  <div id="content" class="flex">
    <h1>Click to modify</h1>
    <ul class="object-tools">
      <li>
        <a href="/admin/comment/add" class="addlink">Add comment</a>
      </li>
    </ul>
    <div class="module" id="changelist">
      <form id="changelist-form">
        <div class="actions">
          <label>Action:
            <button class="btn btn-danger" @click="bulk_delete">Delete</button>
          </label>
          <span class="action-counter" style="display: inline;">
            {{"you have choose " + selected_ids.length + " of " + comments.length }}
            <!--            -->
          </span>
        </div>

        <div class="results">
          <table id="result_list">
            <thead>
            <tr>
              <th scope="col" class="action-checkbox-column">
                <div class="text">
                  <span><input type="checkbox" @click="select_all"
                               value="true" v-model="selected_all"></span>
                </div>
                <div class="clear"></div>
              </th>
              <th scope="col">
                <div class="text"><span>name</span></div>
              </th>
              <th scope="col">
                <div class="text"><span>email</span></div>
              </th>
              <th scope="col">
                <div class="text"><span>Abbr.</span></div>
              </th>
              <th scope="col">
                <div class="text"><span>post</span></div>
              </th>
              <th scope="col">
                <div class="text"><span>created_date</span></div>
              </th>
            </tr>
            </thead>

            <tbody v-for="(item, index) in comments">
            <tr v-bind:class="{row1:index % 2 === 0, row2: index % 2 !== 0}">
              <td class="action-checkbox">
                <input type="checkbox" v-bind:value="item.id" v-model="selected_ids">
              </td>
              <th>
                <a :href="'/admin/comment?uid=' + item.uid">{{item.usrInfo.name}}</a>
              </th>
              <th><p>{{item.usrInfo.email}}</p></th>
              <th><a :href="'/admin/comment/add?change=' + item.id">{{bodyAbbr(item.content)}}</a></th>
              <th><p>{{item.postTitle}}</p></th>
              <th><p>{{formDate(item.createdDate)}}</p></th>
            </tr>
            </tbody>
          </table>
        </div>
      </form>
      <div th:replace="admin/include/pagination::html"></div>
    </div>
  </div>

  <script type="text/babel">
    let vue
    $(function () {
      vue = new Vue({
        el: "#container",
        mixins: [mixin_auth],
        data() {
          return {
            uri: '/api/comment',
            uid: null,
            msg: "",
            alert: false,
            comments: [],
            selected_ids: [],
            selected_all: false,

            pagination: {
              current: 0,
              isHasContent: false,
              isHasNext: false,
              isHasPrevious: false,
              navigatePageNums: [],
              navigatePages: 0,
              totalPages: 0
            },
          }
        },
        mounted: function () {
          this.uid = getUrlParms("uid")
          this.load(1)
          this.getuser()
        },
        methods: {
          load: function (page) {
            let url = `${this.uri}?start=${page}&size=20`
            if (this.uid) {
              url += `&uid=${this.uid}`
            }
            axios.get(url).then(function (response) {
              vue.comments = response.data.payload.content
              vue.pagination = response.data.payload
            }).catch(function (error) {
              vue.alert = true
              vue.msg = "error occurs when trying to get comments"
              show_message(vue)
            });
          },
          bulk_delete: function () {
            axios.post(`${vue.uri}/bulk_delete`, {
              ids: vue.selected_ids
            }, {
              headers: {
                Authorization: getToken()
              }
            }).then(function (response) {
              axios.delete(`${vue.uri}/bulk_delete`, {
                headers: {
                  Authorization: getToken()
                }
              }).then(function (response) {
                vue.load(1)
              });
            }).catch(function (err) {
              let data = err.response.data
              vue.msg = data.msg
              vue.alert = true
              show_message(vue)
            });
          },
          select_all: function () {
            if (vue.selected_all)  {
              vue.selected_ids = [];
              vue.selected_all = false
            } else {
              vue.selected_ids = [];
              vue.comments.forEach((item) => {vue.selected_ids.push(item.id)})
            }
          },

          jump: function (page) {
            jump(page, vue)
          },
          jumpByNumber: function (page) {
            jumpByNumber(page, vue)
          }
        }
      })
    })
  </script>
</div>